.imagen {
  background-color: violet;
  height: 300px;
}
.cuerpo-presentacion-proyectos {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 20px;
  background-color: black;
}
.card-proyectos {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  border-radius: 20px;
}
.card-proyectos:hover {
  transform: translateY(20px);
}
.card-proyectos:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.card-proyectos:hover:before {
  opacity: 1;
}
.card-proyectos img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-proyectos .card-body-proyectos {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
.card-proyectos:hover .card-body-proyectos {
  opacity: 1;
  transform: translateY(0px);
}
.card-proyectos .card-body-proyectos h1 {
  margin: 0;
}
.card-proyectos .card-body-proyectos p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.card-proyectos .card-body-proyectos .btn {
  background: black;
  color: #fff;
  transition: 0.4s ease-in-out;
}
.card-proyectos .card-body-proyectos .btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
/* estilo boton de busqueda  */

.boton-serach-proyect {
  margin-left: 10px;
  background: transparent;
  color: rgb(121, 107, 107);
  width: 60px;
  height: 30px;
  margin-top: 6px;
  outline: none;
  border-radius: 30px;
  border: none;
  transition: 0.5s ease-in;
  text-align: center;
}
.boton-serach-proyect:hover {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(26, 135, 35);
  box-shadow: 0px 0px 6px 2px rgb(26, 135, 35);
  background: rgb(20, 124, 156, 0.151);
  color: rgb(37, 124, 45);
}
