/* .navbar {
  position: fixed;
  top: 0;
  margin: 0;
  background-color: black;
  width: 99%;
  height: 80px;
  font-size: 20px;
} */

/* .navbar-logo {
  height: 80px;
  line-height: 80px;
  color: rgb(184, 11, 11);
  cursor: pointer;
} */

/* .header .navbar {
  background-color: transparent !important;
} */
.singOut-navbar {
  background: transparent;
  color: rgb(121, 107, 107);
  width: 60px;
  height: 30px;
  margin-top: 6px;
  outline: none;
  border-radius: 30px;
  border: none;
  transition: 0.5s ease-in;
}

.singOut-navbar:hover {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(187, 11, 11);
  box-shadow: 0px 0px 6px 2px rgb(187, 11, 11);
  background: rgb(20, 124, 156, 0.151);
  color: rgb(209, 209, 191);
}
